@font-face {
  font-family: 'iconfont';  /* project id 561412 */
  src: url('https://at.alicdn.com/t/font_561412_78vtxgfqykqpvi.eot');
  src: url('https://at.alicdn.com/t/font_561412_78vtxgfqykqpvi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_561412_78vtxgfqykqpvi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_561412_78vtxgfqykqpvi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_561412_78vtxgfqykqpvi.svg#iconfont') format('svg');
}
.head{
	width: 100%;
	height: 40px;
	background-color: #333333;
}
.head_main{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
.head_text{
	color: #b0b0b0;
	line-height: 40px;
	font-size: 12px;
	float: left;
}
.head_line{
	width: 1px;
	height: 12px;
	background-color: #423d39;
	float: left;
	margin: 14px 7px 0;

}
.head_left{
	float: left;
}
.head_right{
	float: right;
}
.haed_bay{
	width: 120px;
	height: 40px;
	background-color: #424242;
	float: left;
	margin-left: 25px;
	text-align: center;
}
.haed_car{
	font-family: 'iconfont';
	color: #b0b0b0;
	line-height: 40px;
}
.haed_zi{
	font-size: 12px;
	color: #b0b0b0;
	line-height: 40px;
}
.nav{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}
.nav_logo{
	width: 55px;
	height: 55px;
	margin-top: 22px;
	background-color: #ff6700;
	float: left;
}
.nav_text{
	float: left;
	margin-left:189px;
}
.nav_text span{
	line-height: 100px;
	color:#333333;
	font-size: 15px;
	float: left;
	padding: 0 10px;
	cursor: pointer;
}
.search{
	border: 1px solid #e0e0e0;
	width: 294px;
	height: 48px;
	float: right;
	margin-top: 25px;
}
.search_btn{
	font-family: 'iconfont';
	width: 52px;
	height: 48px;
	background-color: #fff;
	border: 0;
	border-left: 1px solid #e0e0e0;
	color: #616161;
	font-size: 24px;
	line-height: 48px;
	text-align: center;
	float: right;
}
.search_item{
	padding: 0 10px;
	width: 200px;
	height: 48px;
	border: 0;
	font-size: 12px;
	color: #757575;
	float: left;
	border: 0;
	outline: none;
}
#banner{
	width: 1226px;
	height: 460px;
	background-color: blue;
	margin: 0 auto;
	position: relative;
}
.banner_img{
	width: 1226px;
	height: 460px;
	position: absolute;
	background-color: black;
}
.banner_img img{
	width: 1226px;
	height: 460px; 
	position: absolute;
	top: 0；
	left:0;
}
.banner_nav{
	width: 234px;
	height: 420px;
	background-color: rgba(0,0,0,0.6);
	top: 0；
	left: 0;
	padding: 20px 0;
	position: absolute;
}
.banner_nav li{
	width: 174px;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	color:#ffffff;
	padding: 0 30px;
}
.banner_jiantou{
	float: right;
}
.banner_btn{
	width: 41px;
	height: 69px;
	text-align:center;
	color: #b0b0b0;
	font-size: 50px;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}
.banner_btn1{
	left: 234px;
}
.banner_btn2{
	right: 0;
}
.advert{
	width: 1226px;
	height: 170px;
	margin:14px auto;
}
.advert_left{
	width: 228px;
	height: 164px;
	float: left;
	padding:3px;
	background-color: #5f5750;
}
.advert_right{
	width: 978px;
	height: 170px;
	float: right;
}
.advert_item{
	width: 76px;
	height: 82px;
	text-align: center;
	float: left;
}
.advert_item span{
	font-family: 'iconfont';
	font-size: 24px;
	color: #cfcdcb;
	margin-top: 16px;
	display: block;
}
.advert_item p{
	color: #cfcdcb;
	font-size: 12px;
}
.adver_img1{
	width: 316px;
	height: 170px;
	float: left;
}
.adver_img2{
	width: 316px;
	height: 170px;
	margin-left: 15px;
	float: left;
}
.star{
	height: 398px;
	width: 1226px;
	margin: 0 auto;
}
.star_top{
	width: 1226px;
	height: 58px;
}
.star_top h1{
	color: #333;
	font-size: 21px;
	font-weight: 400;
	line-height: 58px;
	float: left;
}
.star_btn{
	width: 69px;
	height: 22px;
	float: right;
	margin-top: 17px;
	border: 1px solid #e0e0e0;
}
.star_btn div{
	width: 34px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	float: left;
	cursor: pointer;
	color:#e0e2e4;
}
.star_btn1{
	border-right: 1px solid #e0e0e0;
	color: #b0b0b4;
}
.star_buttom{
	width: 1226px;
	height: 340px;
}
.star_item{
	width: 234px;
	height: 300px;
	background-color: #fafafa;
	border-top: 1px solid #ffac13;
	padding-top: 39px;
	float: left;
	margin-right: 14px;
}
.star_item2{
	border-top-color: #83c44e;
}
.star_item3{
	border-top-color: #2196f3;
}
.star_item4{
	border-top-color: #e53935;
}
.star_item5{
	margin-right: 0;
	border-top-color: #00c0a5;
}
.star_item img{
	width: 160px;
	height: 166px;
	display: block;
	margin: 0 auto;
}
.star_item h1{
	font-size: 14px;
	color: #212121;
	font-weight: 400;
	text-align: center;
	margin-top: 22px;
}
.star_item h2{
	font-size: 12px;
	color: #b0b0b0;
	font-weight: normal;
	text-align: center;
	margin-top: 3px;
}
.star_item h3{
	font-size: 14px;
	color: #ff6700;
	font-weight: normal;
	text-align: center;
	margin-top: 12px;
}
.mid{
	width: 100%;
	background-color: #f5f5f5;
	margin-top: 40px;
	padding-top: 60px;
	padding-bottom: 60px;
}
.zhineng{
	width: 1226px;
	height: 672px;
	margin: 0 auto;
}
.zhineng_more{
	float: right;
}
.zhineng_more h2{
	font-size: 16px;
	font-weight: normal;
	line-height: 58px;
	float: left;
}
.zhineng_btn{
	width: 23px;
	height: 23px;
	background-color: #b0b0b0;
	float: left;
	margin-top: 17.5px;
	margin-left: 10px;
	border-radius: 11.5px; /*半径*/
	text-align: center;
	line-height: 23px;
	color: #f3fcff;
}
.zhineng_buttom{
	width: 1226px;
	height:614px;
}
.zhineng_left{
	width: 234px;
	height: 614px;
	float: left;
}
.zhineng_right{
	width: 992px;
	height: 614px;
	float: right;
}
.zhineng_item{
	width: 234px;
	height: 266px;
	background-color: #ffffff;
	margin-left: 14px;
	padding-top: 34px;
	float: left;
	position: relative;
	overflow: hidden;
}
.zhineng_item1{
	margin-bottom: 14px;
}
.zhineng_item2{
	padding-top: 0px;
	background-color: #f5f5f5;
}
.zhineng_item img{
	width: 150px;
	height: 156px;
	display: block;
	margin: 0 auto;
}
.zhineng_item a{
	display: block;
	color:#333333;
	font-size: 14px;
	margin-top: 18px;
	text-align: center;
}
.zhineng_item p{
	font-size: 12px;
	color:#b0b0b0;
	text-align: center;
}
.zhineng_item h1{
	font-size: 14px;
	color: #ff6700;
	margin-top: 10px;
	text-align: center;
	font-weight: normal;
}
.zhineng_itop{
	width: 234px;
	height: 143px;
	margin-bottom: 14px;
	background-color: #fff;
	float: right;
}
.zhineng_genduo{
	color:#333333;
	font-size: 18px;
	text-align: left;
}
.zhineng_ileft h3{
	font-size: 14px;
	color: #ff6700;
	margin-top: 15px;
	font-weight: normal;
	float: left;
	display: block;
}
.zhineng_ileft h2{
	font-size: 12px;
	color: #757575;
	margin-top: 10px;
	font-weight: normal;
	text-align: left;
}
.zhineng_ileft{
	width: 94px;
	height: 143px;
	margin-left: 30px;
	float: left;
	margin-top: 45px;
}
.zhineng_itop img{
	margin-top: 31.5px;
	width: 80px;
	height: 80px;
	float: left;
}
.zhineng_iright{
	color:#333333;
	font-size: 14px;
	text-align: left;
	float: left;
}
.zhineng_tan{
	width: 100%;
	height: 80px;
	background-color: #ff6700;
	position: absolute;
	left: 0;
	bottom: -80px;
	transition: bottom 1s linear,opacity 1s linear;
	opacity: 0;
	text-align: center;
	line-height: 80px;
	color: #fff;
	font-size: 14px;
}
.zhineng_zhe{
	width: 64px;
	height: 20px;
	position: absolute;
	left: 85px;
	top: 0;
	background-color: #e53935;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	color: #fff;
}
.dapei{
	margin-top: 22px;
}
.dapei_right{
	float: right;
}
.dapei_right span{
	float: left;
	margin-left: 32px;
	margin-top: 22px;
	font-size: 14px;
}
.dapei_remen{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 2px;
}
.dapei_item{
	width: 234px;
	height: 300px;
	margin-left: 0;
	padding-top: 0;
}
.dapei_item img{
	width: 234px;
	height: 300px;
}
.dapei_item1 h1{
	margin-top: 0;
}
.dapei_item1 p{
	margin-top: 10px;
}
.tuijian{
	height: 358px;
}
.tuijian_item{
	margin-left: 0;
}
.reping{
	height: 473px;
}
.reping_buttom{
	width: 1226px;
	height: 415px;
}
.reping_item{
	width: 296px;
	height: 415px;
	background-color: #fff;
	margin-left: 14px;
	float: left;
}
.reping_item1{
	margin-left: 0;
}
.reping_item img{
	width: 296px;
	height: 220px;
	margin-bottom: 28px;
}
.reping_ping{
	display: block;
	height: 72px;
	margin: 0 28px 22px;
	font-size: 14px;
	color: #333;
	cursor: pointer;
}
.reping_item span{
	display: block;
	height: 18px;
	margin: 0 28px 8px;
	font-size: 12px;
	color: #b0b0b0;
}
.reping_foot{
	margin: 0 28px;
	overflow: hidden;
}
.reping_foot a{
	display: block;
	font-size: 14px;
	max-width: 170px;
	color: #333;
	float: left;
}
.reping_gang{
	width: 1px;
	height: 16px;
	margin: 3px 4px;
	background-color: #e0e0e0;
	float: left;
}
.reping_foot h1{
	font-size: 14px;
	color: #ff6700;
	float: left;
	font-weight: normal;
}
.shipin{
	height: 343px;
}
.shipin_buttom{
	width: 1226px;
	height: 285px;
}
.shipin_item{
	width: 296px;
	height: 285px;
	float: left;
	margin-left: 14PX;
	background-color: #fff;
	text-align: center;
	position: relative;
}
.shipin_item1{
	margin-left: 0;
}
.shipin_item img{
	width: 296px;
	height: 180px;
	margin-bottom: 28px;
	
}
.shipin_item p{
	position: absolute;
	left: 20px;
	top: 140px;
	display: block;
	font-size: 30px;
	font-family: 'iconfont';
	color:#fff;
}
.shipin_item a{
	font-size: 14px;
	color: #333;
	margin-bottom: 6px;
}
.shipin_item span{
	display: block;
	font-size: 12px;
	color: #b0b0b0;
}
.map{
	width: 100%;
}
.map_top{
	width: 1226px;
	height: 52px;
	margin: 0 auto; 
	border-bottom: 1px solid #e0e0e0;
	padding-top: 27px;
}
.map_text{
	display:block;
	width: 243px;
	float: left;
}
.map_text span{
	font-family: 'iconfont';
	color: #616161;
	font-size: 24px;
	margin-left: 58px;
	float: left;
}
.map_text p{
	color:#616161;
	font-size: 16px;
	margin-left: 6px;
	float: left;
}
.map_line{
	width: 1px;
	height: 25px;
	background-color: #e0e0e0;
	float: left;
}
.map_buttom{
	width: 1226px;
	height: 192px;
	margin: 0 auto; 
}
.map_left{
	width: 160px;
	height: 112px;
	margin-top: 40px;
	float: left;
}
.map_left span{
	display: block;
	font-size: 14px;
	color: #424242;
	margin-bottom: 26px;
}
.map_left a{
	display: block;
	font-size: 12px;
	color: #757575;
	margin-bottom: 10px;
}
.map_right{
	width: 251px;
	height: 112px;
	margin-top: 40px;
	float: right;
	border-left: 1px solid #e0e0e0;
	text-align: center;
}
.map_phone{
	font-size: 22px;
	color: #ff6700;
}
.map_time{
	font-size: 12px;
	margin-bottom: 16px;
}
.map_btn{
	display: block;
	width: 118px;
	height: 28px;
	margin: 0 auto;
	line-height: 28px;
	font-size: 12px;
	color: #ff6700;
	border:1px solid #ff6700;
}
.map_btn i{
	font-family: 'iconfont';
	font-size: 12px;
}
.foot{
	width: 100%;
	background-color: #fafafa;
	padding: 30px 0;
}
.foot_top{
	width: 1226px;
	margin:0 auto;
	overflow: hidden;
}
.foot_logo{
	width: 57px;
	height: 57px;
	float: left;
	margin-right: 10px;
}
.foot_text{
	color: #757575;
	float: left;
}
.foot_line{
	width: 1px;
	height:13px;
	background-color: #757575;
	margin: 3px 3px 0;
	float: left;
}
.foot_left{
	margin-top: 3px;
	font-size: 12px;
	float: left;
}
.foot_left p{
	color: #b0b0b0;
}
.foot_zi{
	color: #b0b0b0;
}
.foot_banqun{
	font-family: 'iconfont';
}
.foot_right{
	float: right;
}
.foot_right img{
	width: 85px;
	height: 28px;
	margin-top: 14px;
	float: left;
	margin-left: 10px;
}
.foot_buttom{
	width: 1226px;
	margin: 30px auto 0;
	text-align: center;
	font-size: 18px;
	color: #b0b0b0;
}
.head_text:hover{
	color: white;
}
.haed_bay:hover{
	background-color: white;
	cursor: pointer;
}
.haed_bay:hover span{
	color: #ff6700;
}
.nav_text span:hover {
	color: #ff6700;
}
.banner_nav li:hover{
	background-color: #ff6700;
	cursor: pointer;
}
.zhineng_item:hover .zhineng_tan{
	bottom: 0;
	opacity: 1;
}
.banner_btn:hover{
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	cursor: pointer;
}
.advert_item:hover span{
	cursor: pointer;
	color: #fff;
}
.advert_item:hover p{
	cursor: pointer;
	color: #fff;
}
.star_btn1:hover{
	color: #ff6700;
}
.zhineng_more h2:hover{
	color: #ff6700;
}
.zhineng_btn:hover{
	background-color: #ff6700;
	color: #fff;
}
.map_text span:hover{
	color: #ff6700;
}
.map_text p:hover{
	color: #ff6700;
}
.map_btn:hover{
	background-color: #ff6700;
	color: #fff;
}
.search_btn:hover{
	background-color: #ff6700;
	color: white;
}
.map_left a:hover,.foot_text:hover,.foot_zi:hover{
	color: #ff6700;
}
.zhineng_left,.zhineng_item,.zhineng_itop,.reping_item,.shipin_item{
	transition: all .5s linear;
}
.zhineng_left:hover,.zhineng_item:hover,.zhineng_itop:hover,.reping_item:hover,.shipin_item:hover{
	box-shadow: 0 5px 10px 2px #e0e0e0;
	transform:translate(0,-2px);
}